<section class="container">
    <div class="row">
        <div class="col-12">
            <app-brake-label label="Albumy"></app-brake-label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card newsitem p-0 m-0 border-0" data-aos="fade-up">
                <div class="card-img-top d-flex" style="background-image: url('../../../assets/i-greta-van-fleet-anthem-of-the-peaceful-army-winyl.jpg'); background-size: cover;">
                    <div class="border-0 d-flex flex-column mt-auto px-4 py-4">
                        <a class="text-white title-news josefin-reg mt-4"><h5 class="card-title title-news">Greta van Fleet</h5></a>
                        <p class="josefin-light text-white">
                        hip hop / rock
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex pt-4">
            <div class="main_orange my-5 mx-auto" style="width: 50%; height: .1rem;"></div>
        </div>
    </div>
</section>