<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12 d-flex">
                        <img src="../../../assets/logomain.svg" class="my-5 mx-auto" alt="" srcset="" style="height: 6rem;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_orange container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex">
                        <p class="text-white josefin-reg mx-auto my-3 p-0">
                            2021 | neworld | wszystkie prawa zastrzeżone
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>