<div class="container-fluid content p-0 mt-3 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="container main_slider" style="background-image: url('../../../assets/img/Greta-Van-Fleet-podwaza-slowa-Gene-a-Simmonsa-Rock-nie-umarl-moze-jego-swiat-po-prostu-zginal_article_north.jpg'); background-size: cover;">
                <div class="row">
                  <div class="col-12 main_gradient_header d-flex p-5">
                  </div>
                </div>
            </div>
            <app-spotifyartistdesc></app-spotifyartistdesc>
            <!-- Content section -->
            <app-spotify-artist-album></app-spotify-artist-album>
        </div> 
    </div>
</div>
