<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="d-flex flex-column">
                <app-main-label-temp
                title="From the Fires"
                content="Sed accumsan sapien non lorem porta placerat. Etiam ultrices quis tellus id consequat. Sed ac urna turpis. Nam ac eros a lorem dignissim ultricies ut id mauris."></app-main-label-temp>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>