<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="josefin-semi text_orange">Greta van Fllet</h1>
            </div>
            <div class="col-12 col-md-6 d-flex">
                <p class="josefin-reg mt-auto ml-auto p-0">
                    gatunki: hip hop / rock
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <p class="mt-4 josefin-light">Nam ultricies vestibulum elementum. Aenean ut cursus lorem. Ut quis semper purus. Vivamus id blandit tortor, in ornare nulla. Maecenas tincidunt dui elit, ac laoreet tortor finibus eu. Phasellus in turpis eu massa mollis pharetra at sed augue. Sed interdum risus diam, in commodo enim sagittis a.
                </p>
            </div>
        </div>
    </div>
</section>